* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}
main, footer {
  margin: 0 20%;
}

nav,
footer {
  padding: 1% 0;
  background-color:gray;
}

nav {
  float: left;
  position: fixed;
  margin: 10% 0;
  left: 0;
  padding: 20px;
  width: 220px; 
}

header {
  margin-top: 150px;
  padding: 12% 0;
  background-color: rgb(177, 174, 174);
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: gray; 
}

section:nth-child(even) {
  background-color: lightgray;
}


@media screen and (max-width: 700px) {
  nav {
    display: none;
  }
  header {
    margin-top: 10px;
  }
  main {
    margin: 1%;
  }
}

@media screen and (max-width: 1100px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    margin: 0;
  }  
  header {
    margin-top: 0;
  }
  main {
    margin: 0;
  }
  footer {
    margin: 0;
  }
}
